In [2]:
# 1. A list contains names of boys and girls as its elements. Boysâ€™ names are stored as tuples. Find out number of boys and girls in the list.
names = ['Alice', ('John',), 'Emma', ('Chris',), 'Sophia']
boys = sum(1 for name in names if isinstance(name, tuple))
girls = sum(1 for name in names if not isinstance(name, tuple))
print("Number of boys:", boys)
print("Number of girls:", girls)

Number of boys: 2
Number of girls: 3

In [3]:
# 2. A list contains tuples with roll no., name, and age of student. Create three separate lists for roll no., name, and age.
students = [(1, 'Alice', 20), (2, 'Bob', 19), (3, 'Charlie', 22)]
roll_numbers = [student[0] for student in students]
names = [student[1] for student in students]
ages = [student[2] for student in students]
print("Roll numbers:", roll_numbers)
print("Names:", names)
print("Ages:", ages)

Roll numbers: [1, 2, 3]
Names: ['Alice', 'Bob', 'Charlie']
Ages: [20, 19, 22]

In [4]:
# 3. Create two date tuples and find the number of days between the two dates.
from datetime import date
date1 = (21, 4, 2025)
date2 = (10, 5, 2025)
days_between = (date(date2[2], date2[1], date2[0]) - date(date1[2], date1[1], date1[0])).days
print("Days between the two dates:", days_between)

Days between the two dates: 19

In [5]:
# 4. Create a list of tuples containing a food item and its price. Sort the tuples in descending order by price.
foods = [('Pizza', 299), ('Burger', 149), ('Fries', 99), ('Pasta', 249)]
sorted_foods = sorted(foods, key=lambda x: x[1], reverse=True)
print("Food items sorted by price:", sorted_foods)

Food items sorted by price: [('Pizza', 299), ('Pasta', 249), ('Burger', 149), ('Fries', 99)]

In [6]:
# 5. Remove empty tuple(s) from the list of tuples.
tuples_list = [(), ('Alice', 20), (), ('Bob', 19), ('Charlie', 22)]
non_empty_tuples = [tup for tup in tuples_list if tup]
print("List after removing empty tuples:", non_empty_tuples)

List after removing empty tuples: [('Alice', 20), ('Bob', 19), ('Charlie', 22)]

In [1]:
# 6. Modify an element of a tuple.
original_tuple = (1, 2, 3, 4)
modified_tuple = original_tuple[:2] + (99,) + original_tuple[3:]
print("Modified tuple:", modified_tuple)

Modified tuple: (1, 2, 99, 4)

In [7]:
# 7. Delete an element of a tuple.
original_tuple = (1, 2, 3, 4)
modified_tuple = original_tuple[:1] + original_tuple[2:]
print("Tuple after deleting an element:", modified_tuple)

Tuple after deleting an element: (1, 3, 4)