In [ ]:
#1.	Add two numbers.
print("Enter two numbers to add:")

num1 = float(input("First number: "))
num2 = float(input("Second number: "))

sum_result = num1 + num2

print("The sum of", num1, "and", num2, "is:", sum_result)

Enter two numbers to add:
First number: 2
Second number: 3
The sum of 2.0 and 3.0 is: 5.0

In [ ]:
#2.	Subtract two numbers.
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

result = num1 - num2

print("The difference is:", result)

Enter the first number: 3
Enter the second number: 6
The difference is: -3.0

In [ ]:
# Multiply two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
print("Multiplication:", num1 * num2)

Enter the first number: 6
Enter the second number: 5
Multiplication: 30.0

In [ ]:
# Divide two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
print("Division:", num1 / num2 if num2 != 0 else "Cannot divide by zero")

Enter the first number: 8
Enter the second number: 4
Division: 2.0

In [ ]:
# Perform addition, subtraction, multiplication, and division
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2 if num2 != 0 else "Cannot divide by zero")

Enter the first number: 5
Enter the second number: 4
Addition: 9.0
Subtraction: 1.0
Multiplication: 20.0
Division: 1.25

In [ ]:
# Convert hours into minutes
hours = float(input("Enter hours: "))
print("Minutes:", hours * 60)

Enter hours: 4
Minutes: 240.0

In [ ]:
# Convert minutes into hours
minutes = float(input("Enter minutes: "))
print("Hours:", minutes / 60)

Enter minutes: 5
Hours: 0.08333333333333333

In [ ]:
# Convert dollars into rupees (1$ = 48 Rs)
dollars = float(input("Enter amount in dollars: "))
print("Rupees:", dollars * 48)

Enter amount in dollars: 8
Rupees: 384.0

In [ ]:
# Convert rupees into dollars (1$ = 48 Rs)
rupees = float(input("Enter amount in rupees: "))
print("Dollars:", rupees / 48)

Enter amount in rupees: 4
Dollars: 0.08333333333333333

In [ ]:
# Convert dollars into pounds (1$ = 48 Rs, 1 pound = 70 Rs)
dollars = float(input("Enter amount in dollars: "))
print("Pounds:", (dollars * 48) / 70)

Enter amount in dollars: 7
Pounds: 4.8

In [ ]:
# Convert grams into kilograms
grams = float(input("Enter weight in grams: "))
print("Kilograms:", grams / 1000)

Enter weight in grams: 8
Kilograms: 0.008

In [ ]:
# Convert kilograms into grams
kg = float(input("Enter weight in kilograms: "))
print("Grams:", kg * 1000)

Enter weight in kilograms: 5
Grams: 5000.0

In [ ]:
# Convert bytes into KB, MB, and GB
bytes_value = float(input("Enter size in bytes: "))
print("KB:", bytes_value / 1024)
print("MB:", bytes_value / (1024**2))
print("GB:", bytes_value / (1024**3))

Enter size in bytes: 4
KB: 0.00390625
MB: 3.814697265625e-06
GB: 3.725290298461914e-09

In [ ]:
# Convert Celsius into Fahrenheit
celsius = float(input("Enter temperature in Celsius: "))
print("Fahrenheit:", (9/5 * celsius) + 32)

Enter temperature in Celsius: 2
Fahrenheit: 35.6

In [ ]:
# Convert Fahrenheit into Celsius
fahrenheit = float(input("Enter temperature in Fahrenheit: "))
print("Celsius:", 5/9 * (fahrenheit - 32))

Enter temperature in Fahrenheit: 1
Celsius: -17.22222222222222

In [ ]:
# Calculate simple interest
P = float(input("Enter principal amount: "))
R = float(input("Enter rate of interest: "))
N = float(input("Enter time period: "))
print("Interest:", (P * R * N) / 100)

Enter principal amount: 3
Enter rate of interest: 5
Enter time period: 4
Interest: 0.6

In [ ]:
# Calculate area & perimeter of a square
L = float(input("Enter side length of square: "))
print("Area:", L**2, "Perimeter:", 4 * L)

Enter side length of square: 2
Area: 4.0 Perimeter: 8.0

In [ ]:
# Calculate area & perimeter of a rectangle
L = float(input("Enter length of rectangle: "))
B = float(input("Enter breadth of rectangle: "))
print("Area:", L * B, "Perimeter:", 2 * (L + B))

Enter length of rectangle: 5
Enter breadth of rectangle: 8
Area: 40.0 Perimeter: 26.0

In [ ]:
# Calculate area of a circle
R = float(input("Enter radius of circle: "))
print("Area:", (22/7) * R * R)

Enter radius of circle: 4
Area: 50.285714285714285

In [ ]:
# Calculate net salary (Net Salary = Gross Salary + Allowance - Deduction)
gross_salary = float(input("Enter gross salary: "))
allowance = gross_salary * 0.10
deduction = gross_salary * 0.03
print("Net Salary:", gross_salary + allowance - deduction)

Enter gross salary: 1
Net Salary: 1.07

In [ ]:
# Calculate net sales (Net Sales = Gross Sales - 10% Discount of Gross Sales)
gross_sales = float(input("Enter gross sales: "))
discount = gross_sales * 0.10
print("Net Sales:", gross_sales - discount)

Enter gross sales: 2
Net Sales: 1.8

In [ ]:
# Calculate average of three subjects along with their total
sub1 = float(input("Enter marks of subject 1: "))
sub2 = float(input("Enter marks of subject 2: "))
sub3 = float(input("Enter marks of subject 3: "))
total = sub1 + sub2 + sub3
print("Total Marks:", total, "Average:", total / 3)

Enter marks of subject 1: 5
Enter marks of subject 2: 6
Enter marks of subject 3: 8
Total Marks: 19.0 Average: 6.333333333333333

In [ ]:
# Swap two values
a = input("Enter first value: ")
b = input("Enter second value: ")
a, b = b, a
print("After swapping: First value:", a, "Second value:", b)

Enter first value: 9
Enter second value: 8
After swapping: First value: 8 Second value: 9