In [ ]:
# 1. Convert words present in a list into uppercase and store them in a set.
words = ['apple', 'banana', 'cherry', 'date', 'fig']
uppercase_set = {word.upper() for word in words}
print("Set of words in uppercase:", uppercase_set)

Set of words in uppercase: {'APPLE', 'DATE', 'FIG', 'CHERRY', 'BANANA'}

In [ ]:
# 2. Create a set containing 10 random numbers in the range 15 to 45. Count numbers less than 30. Delete all numbers greater than 35.
import random
numbers = {random.randint(15, 45) for _ in range(10)}
print("Generated set of numbers:", numbers)
count_less_than_30 = len([num for num in numbers if num < 30])
print("Count of numbers less than 30:", count_less_than_30)
numbers = {num for num in numbers if num <= 35}
print("Set after removing numbers greater than 35:", numbers)

Generated set of numbers: {33, 37, 38, 39, 44, 45, 15, 27, 29}
Count of numbers less than 30: 3
Set after removing numbers greater than 35: {33, 27, 29, 15}

In [ ]:
# 3. Create an empty set, add five names, modify one name, and delete two names.
names = set()
names.update(['Alice', 'Bob', 'Charlie', 'David', 'Eve'])
print("Set after adding five names:", names)
names.discard('Alice')
names.add('Anna')
names.discard('Bob')
names.discard('Eve')
print("Set after modifying and deleting names:", names)

Set after adding five names: {'Bob', 'Eve', 'David', 'Alice', 'Charlie'}
Set after modifying and deleting names: {'Anna', 'David', 'Charlie'}

In [ ]:
# 4. Separate names in a set starting with A or B into two sets.
names = {'Alice', 'Bob', 'Anna', 'Brandon', 'Amy', 'Brian'}
set_A = {name for name in names if name.startswith('A')}
set_B = {name for name in names if name.startswith('B')}
print("Set of names starting with A:", set_A)
print("Set of names starting with B:", set_B)

Set of names starting with A: {'Anna', 'Alice', 'Amy'}
Set of names starting with B: {'Brandon', 'Brian', 'Bob'}